:root {
    --background: black;
    --background-alt: #0f0e17;
    --text: #fffffe;
    --text-alt: #a7a9be;
    --highlight: #ff8906;
    --secondary: #f25f4c;
    --tertiary: #e53170;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #100c08;
}

h1 {
    width: fit-content;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    margin: 30px auto;
}

h1 a {
    text-decoration: none;
    color: var(--text);
    transition: color .2s ease-in-out;
}

h1 a:hover {
    color: var(--highlight);
}

hr {
    border: 2px solid var(--highlight);
    margin-bottom: 60px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: var(--text);
}

.recipes a {
    margin: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--text);
}

.recipe {
    border: 2px solid var(--text);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    background-color: var(--background);
    transition: 
        background-color .4s ease-in-out,
        color .4s ease-in-out;
}

.recipe:hover {
    color: var(--background-alt);
    background-color: var(--highlight);
}

.recipe .recipe-image {
    border: 2px solid var(--background-alt);
    border-radius: 10px;
    margin-top: 20px;
    width: 250px;
    height: 300px;
}