:root {
    --background: black;
    --background-alt: #0f0e17;
    --text: #fffffe;
    --text-alt: #a7a9be;
    --highlight: #ff8906;
    --secondary: #f25f4c;
    --tertiary: #e53170;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(16, 12, 8, 0.7), rgba(16, 12, 8, 0.7)), url("recipes/recipe-images/home-background.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}   

.title {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(16, 12, 8);
    border-bottom: 4px solid var(--highlight);
}

h1 {
    width: fit-content;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    margin: 0 auto;
    padding-top: 30px;
}

h1 a {
    text-decoration: none;
    color: var(--text);
    transition: color .2s ease-in-out;
}

h1 a:hover {
    color: var(--highlight);
}

hr {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    border: 2px solid var(--highlight);
    margin-bottom: 60px;
}

.recipes {
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: var(--text);
}

.recipes a {
    margin: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--text);
}

.recipe {
    border: 2px solid var(--text);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    background-color: var(--background);
    transition: 
        background-color .4s ease-in-out,
        color .4s ease-in-out;
}

.recipe:hover {
    color: var(--background-alt);
    background-color: var(--highlight);
}

.recipe .recipe-image {
    border: 2px solid var(--background-alt);
    border-radius: 10px;
    margin-top: 20px;
    width: 250px;
    height: 300px;
}